<blockquote>
	:happy: :grin: :xd: :grindsweat: :rofl: :lmao: :smile: :wink: :glad: :kiss: :crazy: :think: :wot: :kay: :yikes: :eyeroll: :confused: :pensive: :disgust: :vomit: :dizzy: :nerd: :worry: :sad: :frown: :wow: :blush: :cry: :plead: :baw:
	<br><br>
	:AngryWojak: :Aquacry: :shoopdw2: :cockmongler: :POGGERS: :BOOMER: :jannydog: :MeguminHappy: :AWOOOO: :ChadYes: :checkem: :chaikaface:
	<br><br>
	:longcat:
	<br>
	:longcata:
	<br>
	:longcatb:
</blockquote>
